In [1]:
# Import Dependencies
import pandas as pd

In [15]:
raw_data = {
    'Class': ['Oct', 'Oct', 'Jan', 'Jan', 'Oct', 'Jan'], 
    'Name': ["Cyndy", "Logan", "Laci", "Elmer", "Crystle", "Emmie"], 
    'Test Score': [90, 56, 72, 88, 98, 67]}
df = pd.DataFrame(raw_data)
df

  Class     Name  Test Score
0   Oct    Cyndy          90
1   Oct    Logan          56
2   Jan     Laci          72
3   Jan    Elmer          88
4   Oct  Crystle          98
5   Jan    Emmie          67

In [16]:
# Create the bins in which Data will be held
# Bins are 0, 60, 70, 80, 90, 100
bins = [0, 60, 70, 80, 90, 100]

# Create the names for the four bins
group_names = ["E", "D", "C", "B", "A"]

In [17]:
df["Test Score"] = pd.cut(df["Test Score"], bins, labels=group_names)
df

  Class     Name Test Score
0   Oct    Cyndy          B
1   Oct    Logan          E
2   Jan     Laci          C
3   Jan    Elmer          B
4   Oct  Crystle          A
5   Jan    Emmie          D

In [5]:
# Creating a group based off of the bins
df = df.groupby("Test Score Summary")
df.max()

                   Class     Name  Test Score
Test Score Summary
F                    Oct    Logan          56
D                    Jan    Emmie          67
C                    Jan     Laci          72
B                    Oct    Elmer          90
A                    Oct  Crystle          98

### resource:

[pandas munging techniques](https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/)

In [10]:
pd.cut(df["Test Score"], bins, include_lowest=True)

0    (50.0, 100.0]
1    (50.0, 100.0]
2    (50.0, 100.0]
3    (50.0, 100.0]
4    (50.0, 100.0]
5    (50.0, 100.0]
Name: Test Score, dtype: category
Categories (6, interval[float64]): [(-0.001, 1.0] < (1.0, 5.0] < (5.0, 10.0] < (10.0, 25.0] < (25.0, 50.0] < (50.0, 100.0]]