In [1]:
import pandas as pd

In [7]:
# Mapping lets you format an entire DataFrame
file = "Resources/sample_data.csv"
file_df = pd.read_csv(file)
file_df.head()

   id      city   avg_cost  population     other
0   1  Houxiang  55.121518      609458 -15.66171
1   2    Leribe  95.782967      601963 -23.79499
2   3  Hengshan  57.867827      589509   1.31471
3   4    Sogcho  59.220634      948491 -11.38280
4   5     Kohlu  23.092232       92206   7.66861

In [11]:
file_df["avg_cost"].map()

0      55.121518
1      95.782967
2      57.867827
3      59.220634
4      23.092232
5      86.173824
6      99.933563
7      34.180978
8      32.884656
9      54.163504
10     32.480619
11     73.736768
12     67.708518
13     34.758322
14     65.074144
15     26.275509
16     13.288432
17     83.193785
18     56.050060
19     61.322806
20      7.967056
21     75.945847
22     14.814905
23     59.315756
24     55.272240
25     43.555685
26     60.342238
27     53.749434
28     36.057994
29     90.948289
         ...
970    21.594802
971     5.463305
972     1.875208
973    44.849359
974    55.909189
975    67.708294
976    15.172049
977    37.587172
978    61.389129
979    48.576635
980    61.593724
981    81.640882
982    73.722096
983    57.718374
984    55.075394
985     7.690116
986     9.979831
987    48.834794
988    34.910927
989    18.177172
990    18.395238
991    50.362894
992    98.900931
993    96.629252
994    53.759515
995    43.955867
996    24.995609
997    50.693455
998    76.058354
999    21.435925
Name: avg_cost, Length: 1000, dtype: float64

In [4]:
# Use Map to format all the columns
file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
file_df["population"] = file_df["population"].map("{:,}".format)
file_df["other"] = file_df["other"].map("{:.2f}".format)
file_df.head()

   id      city avg_cost population   other
0   1  Houxiang   $55.12    609,458  -15.66
1   2    Leribe   $95.78    601,963  -23.79
2   3  Hengshan   $57.87    589,509    1.31
3   4    Sogcho   $59.22    948,491  -11.38
4   5     Kohlu   $23.09     92,206    7.67

In [6]:
# Mapping has changed the datatypes of the columns to strings
file_df.dtypes

id             int64
city          object
avg_cost      object
population    object
other         object
dtype: object

### String Formatting Recipes!
[Python String Format Cookbook](https://mkaz.blog/code/python-string-format-cookbook/)

https://docs.python.org/3.4/library/string.html

In [3]:
"${:.2f}".format(4000)

'$4000.00'