## Importing a CSV File

In [ ]:
df = pd.read_csv('pizza.csv')

#Need to parse dates? Just pass in the corresponding column name(s).

df = pd.read_csv('pizza.csv', parse_dates=['dates'])


#Only need a few specific columns?

df = pd.read_csv('pizza.csv', usecols=['foo', 'bar'])

## Exploring Data in a DataFrame

In [ ]:
df.head()       # first five rows
df.tail()       # last five rows
df.sample(5)    # random sample of rows
df.shape        # number of rows/columns in a tuple
df.describe()   # calculates measures of central tendency
df.info()       # memory footprint and datatypes

## Exploring Data a DataFrame column

In [12]:
#get a list of unique values in a column
pd.unique(df.column_name.ravel())

#get a list and counts of unique values in a column
bw_file1_df.DEL00.value_counts()

NameError: name 'pd' is not defined

## Adding a New Column to a DataFrame

In [ ]:
#The quick and easy way is to just define a new column on the dataframe. This will give us column with the number 23 on every row. Usually, you will be setting the new column with an array or Series that matches the number of rows in the data.

df['new_column'] = 23

#Need to build a new column based on values from other columns?

full_price = (df.price + df.discount)
df['original_price'] = full_price


#Need the column in a certain order? The first argument is the position of the column. This will put the column at the begining of the DataFrame.

df.insert(0, 'original_price', full_price)

## Querying and Filtering DataFrames with Conditional Logic

In [3]:
#Let’s the we need to analyze orders that have pineapple in the topping column.

filtered_data = df[df.topping == 'pineapple']

#Or that meet a certain price threshold

filtered_data = df[df.price > 11.99 ]

#How about both at the same time? Just add the conditions to tuples and connect them with a bitwise operator.

filtered_data = df[(df.price > 11.99) & (df.topping == 'Pineapple')]

#Now we have all the pizzas with a Pineapple topping priced over 11.99.

NameError: name 'df' is not defined

#### Grab DataFrame rows where column has certain values.  Equivalent to SQL Where IN clause

In [ ]:
valuelist = ['value1', 'value2', 'value3']
df = df[df.column.isin(valuelist)]

#### Grab DataFrame rows where column doesn't have certain values

In [ ]:
valuelist = ['value1', 'value2', 'value3']
df = df[~df.column.isin(value_list)]

#### Select from DataFrame using criteria from multiple columns
 `|` = OR     
`&` = AND

In [ ]:
newdf = df[(df['column_one']>2004) & (df['column_two']==9)]

#### select all rows where the sum of column 1 and column 2 equals 1

In [ ]:
df[['column_one','column_two']].sum(axis = 1) == 1

## Delete column from DataFrame

In [ ]:
del df['column']

## Sorting a DataFrame

#### sort by one column:

In [5]:
df.sort_values('price', axis=0, ascending=False)

NameError: name 'df' is not defined

#### Sort dataframe by multiple columns.  The following sorts by col1 and col2 ascending and col3 descending

In [ ]:
df = df.sort(['col1','col2','col3'],ascending=[1,1,0])

## Apply a Function to Every Row in a Column
#### first create a fuction and then use df.column_name.apply to apply the function to each value.

In [ ]:
def calculate_taxes(price):
    taxes = price * 0.12
    return taxes

df['taxes'] = df.price.apply(calculate_taxes)

## Add a New Column with Conditional Logic.  Also known as creating a flag column

In [ ]:
#The where function in numpy is useful when extracting features with 
#conditional logic. Let’s imagine the pizza parlor is only 
#profitable on sales above $15.00. 
#We create a new column based on this insight like so:

df['profitable'] = np.where(df['price']>=15.00, True, False)

df['profitable_flag'] = np.where(df['price']>=15.00, 1, 0)

## Set DataFrame column values based on other column values (h/t: @mlevkov)

In [ ]:
df.loc[(df['column1'] == some_value) & (df['column2'] == some_other_value), ['column_to_change']] = new_value

## Merge or Inner Join Data Frames

In [7]:
#Merging in Pandas works just like SQL. 
#If you you have two DataFrames that share a key, perhaps a pizza ‘order_id’,
#you can perform inner, outer, left, right joins just like you would in SQL.

#inner join on order_id
merged_df = pd.merge(df1, df2, on='order_id')

#left join on order_id
merged_df = df1.merge(df2, how='left', on='order_id')

#or

merged_df = pd.merge(df1, df2, on='key', how='left')

NameError: name 'df_1' is not defined

# Conversions

#### Converting Dates to their own Day, Week, Month, Year Columns

In [ ]:
#First, make sure the data is in datetime format. Then use dt method to extract the data you need.

date = pd.to_datetime(df.date)
df['weekday'] = date.dt.weekday
df['year'] = date.dt.year

#### Convert Series datatype to numeric, getting rid of any non-numeric values

In [ ]:
df['col'] = df['col'].astype(str).convert_objects(convert_numeric=True)

#### Delete column from DataFrame

In [11]:
del df['column']

NameError: name 'df' is not defined

#### Change data type of DataFrame column

In [ ]:
df.column_name = df.column_name.astype(np.int64)

#### Get rid of non-numeric values throughout a DataFrame:

In [ ]:
for col in refunds.columns.values:
  refunds[col] = refunds[col].replace('[^0-9]+.-', '', regex=True)

## More interesting snippets

In [ ]:
df = df.rename(columns = {
    'col1 old name':'col1 new name',
    'col2 old name':'col2 new name',
    'col3 old name':'col3 new name',
})

In [ ]:
# Lower-case all DataFrame column header names
df.columns = map(str.lower, df.columns)

In [8]:
# Even more fancy DataFrame column re-naming
# lower-case all DataFrame column names (for example)
df.rename(columns=lambda x: x.split('.')[-1], inplace=True)

NameError: name 'df' is not defined

### Loop through rows in a DataFrame
(if you must)

In [ ]:
for index, row in df.iterrows():
    print index, row['some column']

### Much faster way to loop through DataFrame rows
### if you can work with tuples

In [ ]:
for row in df.itertuples():
    print(row)

### Next few examples show how to work with text data in Pandas.
### Full list of .str functions: http://pandas.pydata.org/pandas-docs/stable/text.html

In [ ]:
# Slice values in a DataFrame column (aka Series)
df.column.str[0:2]

# Lower-case everything in a DataFrame column
df.column_name = df.column_name.str.lower()

In [ ]:
# Get length of data in a DataFrame column
df.column_name.str.len()

### Get top n for each group of columns in a sorted dataframe
 (make sure dataframe is sorted first)

In [ ]:
top5 = df.groupby(['groupingcol1', 'groupingcol2']).head(5)

### Grab DataFrame rows where specific column is null/notnull

In [ ]:
newdf = df[df['column'].isnull()]

### Select from DataFrame using multiple keys of a hierarchical index

In [ ]:
df.xs(('index level 1 value','index level 2 value'), level=('level 1','level 2'))

### Change all NaNs to None (useful before loading to a db)

In [ ]:
df = df.where((pd.notnull(df)), None)

### More pre-db insert cleanup
make a pass through the dataframe, stripping whitespace
from strings and changing any empty values to None
(not especially recommended but including here b/c I had to do this in real life one time)

In [ ]:
df = df.applymap(lambda x: str(x).strip() if len(str(x).strip()) else None)

### Get quick count of rows in a DataFrame

In [ ]:
len(df.index)

### Pivot data (with flexibility about what what becomes a column and what stays a row).

Syntax works on Pandas >= .14

In [ ]:
pd.pivot_table(
  df,values='cell_value',
  index=['col1', 'col2', 'col3'], #these stay as columns; will fail silently if any of these cols have null values
  columns=['col4']) #data values in this column become their own column

In [ ]:
# Clean up missing values in multiple DataFrame columns
df = df.fillna({
    'col1': 'missing',
    'col2': '99.999',
    'col3': '999',
    'col4': 'missing',
    'col5': 'missing',
    'col6': '99'
})

### Concatenate two DataFrame columns into a new, single column
 (useful when dealing with composite keys, for example)

In [ ]:
df['newcol'] = df['col1'].map(str) + df['col2'].map(str)

In [ ]:
# Doing calculations with DataFrame columns that have missing values
# In example below, swap in 0 for df['col1'] cells that contain null

In [ ]:
df['new_col'] = np.where(pd.isnull(df['col1']),0,df['col1']) + df['col2']

In [ ]:
# Split delimited values in a DataFrame column into two new columns
df['new_col1'], df['new_col2'] = zip(*df['original_col'].apply(lambda x: x.split(': ', 1)))

In [ ]:
# Collapse hierarchical column indexes
df.columns = df.columns.get_level_values(0)

In [ ]:
# Convert Django queryset to DataFrame
qs = DjangoModelName.objects.all()
q = qs.values()
df = pd.DataFrame.from_records(q)

In [ ]:
# Create a DataFrame from a Python dictionary
df = pd.DataFrame(list(a_dictionary.items()), columns = ['column1', 'column2'])

In [ ]:
# Get a report of all duplicate records in a dataframe, based on specific columns
dupes = df[df.duplicated(['col1', 'col2', 'col3'], keep=False)]

In [ ]:
# Set up formatting so larger numbers aren't displayed in scientific notation (h/t @thecapacity)
pd.set_option('display.float_format', lambda x: '%.3f' % x)